body{ 
    overflow-x:hidden; 
}

#body1{
    background-color: ghostwhite;
}

#nav1{
    background-color: skyblue;
    width: 100vw;
    position: absolute;
}

#nav1 a, #nav1 a{
    color: black;
}

#nav1 ul :hover, #nav1 a:hover{
    color:floralwhite;
}

#nav1 #navbar a{
    font-family: 'Rubik', sans-serif;
}

#nav1 .Brand a{
    font-family:'Rubik', sans-serif;
}

#txt {
    font-family: 'Anton', sans-serif;
    margin-top: 15;
    margin-left: 0vw;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#navbar-options{
    display: inline-block;
}

#name {
    margin-top: 50px;
    text-align: center;
}

#firstSection{
    margin-top: 51px;
    height: 40vh;
    background-color: EDF9FE;
}

.firstSection-right h1{
    margin-top:20px;
    font-family: 'Anton', sans-serif;
}

.firstSection-right p{
    font-family:'Rubik', sans-serif;
}

.secondSection-right #h2{
    margin-top: 10;
}

.secondSection-right #h3{
    font-family:'Rubik', sans-serif;
}

#secondSection{
    margin-bottom: -5;
    background-color: EDF9FE;/*f1f1f1;*/
    opacity: inherit;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#secondSection img{
  border-radius: 25px;
  width:100%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#secondSection h2 {
    margin-top: 0;
    margin-bottom: 10;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30;
    text-align: center;
    font-style: italic;
}

#secondSection p {
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 20;
    text-align: center;
}

#readmore2{
    margin-left: 220;
    margin-top: 30;
}


#thirdSection{
    height: 55vh;
    background-color: EDF9FE;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

#thirdSection video{
    margin-top: 10;
    margin-left: 150

}

.socialmedia {
    height: 35vh;
    text-align: center;
    background-color: skyblue;
}

.socialmedia h2,.socialmedia p{
    font-size: 50;
    color:aliceblue;
    margin-top: 0;
    margin-bottom: -5;
    font-family: 'Rubik', sans-serif;
}

#facebook,#instagram,#twitter {
    font-size: 50;
    color:aliceblue;
}

/*
.navbar{
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    overflow: hidden;
    background-color: transparent;
    top: 0; 
    width: 100%;
    z-index: 100;
    font-size: 30px;
}

/* Links inside the navbar */
/*
.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}*/
