html,body {
    margin: -3;
    padding: 0;
}

#h1 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: 70px;   
    font-size: 45;
}

#h2 {
    margin-top: 40;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: 11;   
    font-size: 40;
}

#h3 {
    margin-top: 2;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: -200;   
    font-size: 40;
}

#h4 {
    margin-top: 2;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: 12;   
    font-size: 40;
}

#p1 {
    font-family: 'Anton', sans-serif;
    font-size: 20;
}

#p2 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 20;
}

#p3 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 25;
    margin-top: -20;
}

#p4 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20
}

.seal {
    display: block;
    margin-top: -35;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    height: 300;
    width:300;
}

.navbar a:hover{
    background-color: white;
}

.navbar{
    font-family: 'Anton', sans-serif;
    /*font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;*/
    font-weight: 700;
    overflow: hidden;
    background-color: transparent;
    /*position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar to the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
    font-size: 30px;
}

/* Links inside the navbar */
.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: whitesmoke;
}

.landingsection {
    background-image: url(../images/beachShore.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    text-align: center;
    margin-bottom: -24px;
    margin-top: -95px;
}

#txt {
    font-family: 'Anton', sans-serif;
    font-size: 120;
    text-align: center;
    padding-top: 50;
}

.secondsection {
    height: 84vh;
    background-color: lightblue;
    margin-top: -40;
    margin-bottom: -8;
    background-color: tomato;
    background-image: url("https://www.transparenttextures.com/patterns/psychedelic.png");
}

.socialmedia {
    height: 35vh;
    font-size: 50;
    text-align: center;
    background-color: #94c8ff;
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}

#facebook {
    color: aliceblue;
}

#instagram {
    color:aliceblue;      
}

#twitter {
    color: aliceblue;
}
