body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(85, 101, 114);
}

#container{
    display: flex;
    flex-direction: column;
    width: 1366px;
    /* background-color:red; */
    align-items:center
}

#sneaker_section{
    width: 100%;
    height: auto;
    /* background-color: blue; */
}

#sneaker_section img{
    width: 33%;
}

.overlay_hidden{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1000px;
    background-color: green;
    align-items: center;
    top: 5%;
    visibility: hidden;
}

.overlay_shown{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    top: 5%;
    visibility: showing;
    align-items: center;
    border-radius: 20px;
    border: 6px solid black;
}

/* #overlay img{ */
/* #container2 img{
    width: 400px;
} */

#overlay_shoebox{
    background-color: rgb(230, 173, 68);
    width: 800px;
    border: solid black 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlay_shoebox_lid{
    height: 60px;
    width: 100%;
    border: 5px solid black;
    border-radius: 0px 0px 0px 50px;
}

#overlay_shoebox_label{
    margin: 30px 0px 30px 0px;
    background-color: black;
    width: 700px;
    color: white;
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#overlay_shoebox_label p{
    border-top: 1px solid white;
    padding: 15px 0px 0px 0px;
}

#exit_overlay{
    position: absolute;
    top: 2%;
    right: 2%;
    background: none;
    border: none;
    font-size: 40px;
}

/* #topleft {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    top: 25%;
    left: 36%
}

#bottomright{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    top: 21%;
    left: 60%
}

#center{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    top: 17%;
    left: 47%
} */



/* body {
    font-family: Arial;
    color: #666;
    text-align: center;
} */

#container2 {
    width: 800px;
    height: 547px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

#container2 div {
    position: absolute;
    width: 90px;
    height: 90px;
}

#container2 img {
    display: block;
    position: absolute;
    /* transition: all 2s ease; */
}

/* #container2_open_slow{
    transition: all 2s ease;
    visibility: showing;
}

#container2_close_quick{
    transition: all 0s;
    visibility: hidden;
} */

#topleft {
    top: 65%;
    left: 16%;
    border: 3px solid black;
    z-index: 2
}

#bottomright {
    bottom: 25%;
    right: 10%;
    border: 3px solid black;
    z-index: 2
}

#center {
    left: 43%;
    top: 45%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    z-index: 2

}

.start {
    width: 800px;
    left: 0;
    top: 0;
}

.topleft,
.bottomright,
.center {
    width: 3768px;
    height: auto;
}

.topleft {
    top: -1600px;
    left: -700px;
}

.bottomright {
    top: -1300px;
    left: -2668px;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
}
