body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

#main_container{
    max-width: 1366px;
    min-width: 900px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    /* background-color: blueviolet; */
    align-items: center;
    display: flex;
    flex-direction: column;
}

#banner{
    /* background-color: yellow; */
    width: 1100px;
    height: 250px;
}

main{
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

main div{
    /* background-color: chocolate; */
    border-radius: 20px;
    border: 3px solid black;
    padding: 5px;
}

main ul{
    /* background-color: cornflowerblue; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 20px;
}

#square1{
    background-color: red;
    width: 50px;
    height: 50px;
    position: relative;
    animation: dance 3s;
    animation-iteration-count: infinite;
}

@keyframes dance{
    0% {left: 0px;}
    50% {left: 200px;}
    100%{left: 0px;}
}

#square2{
    background-color: blue;
    width: 50px;
    height: 50px;
    transition: width 2s;
}

#square3{
    background-color: green;
    width: 50px;
    height: 50px;
    transition: width 2s;
}

#square2:hover{
    width: 500px;
}

#banner div{
    border-radius: 50px;
}

footer{
    display: flex;
    flex-direction: column;
}