body{
    background-color: #D7E3ED;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#container{
    width: 1366px;
    height: 768px;
}

#top_pokemon{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
}

#bottom_pokemon{
    /* background-color: royalblue; */
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
}

#top_left_side{
    width: 50%;
    height: 100%;
}

.pokemon_info{
    width: 80%;
    height: auto;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    position: relative;
    top: 20%;
    left: 5%;
}

#pokemon_1_name{
    padding: 10px 0px 0px 15px;
    font-size: 40px;
}

#pokemon_2_name{
    padding: 10px 0px 0px 15px;
    font-size: 40px;
}


.pokemon_health{
    width: 93%;
    height: 30px;
    background-color: #FF9F9F;
    border-radius: 20px;
    border: 4px solid black;
    margin: 10px 0px 10px 15px;
}

#pokemon_1_health{
    position: absolute;
    width: 93%;
    /* width: 80%; */
    height: 30px;
    background-color: #89CF82;
    border-radius: 20px;
    border: 4px solid black;
    margin: 10px 0px 10px 15px;
    top: 50px;
    right: 15px;
    transition: width 2s;
    animation-timing-function: ease;
}

#pokemon_2_health{
    position: absolute;
    width: 93%;
    /* width: 80%; */
    height: 30px;
    background-color: #89CF82;
    border-radius: 20px;
    border: 4px solid black;
    margin: 10px 0px 10px 15px;
    top: 50px;
    right: 15px;
    transition: width 2s;
    animation-timing-function: ease;
}

#pokemon_display{
    /* background-color: red; */
    width: 50%;
    height: 100%;
    position: relative;
}

#pokemon_1_art{
    max-width: 100%;
    max-height: 100%;
    left: 30%;
    top: 0%;
    z-index: 1;
    position: absolute;
    /* animation: fade 2s; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: ease; */
}

.hopping_top {
    animation-name: hopping_top;
    animation-timing-function: ease;
}

.hopping_bottom{
    animation-name: hopping_bottom;
    animation-timing-function: ease;
}

@keyframes hopping_top {
    0%   { transform: scale(1,1)    translateY(0)    rotate(0deg); }
    10%  { transform: scale(1.1,.9) translateY(0)    rotate(10deg); }
    30%  { transform: scale(.9,1.1) translateY(-40px)rotate(0deg); }
    50%  { transform: scale(1,1)    translateY(0)    rotate(-10deg); }
    100% { transform: scale(1,1)    translateY(0)    rotate(0deg); }
}

@keyframes hopping_bottom {
    0%   { transform: scale(1,1)    translateY(0)    rotate(0deg); }
    10%  { transform: scale(1.1,.9) translateY(0)    rotate(-10deg); }
    30%  { transform: scale(.9,1.1) translateY(-40px)rotate(0deg); }
    50%  { transform: scale(1,1)    translateY(0)    rotate(10deg); }
    100% { transform: scale(1,1)    translateY(0)    rotate(0deg); }
}

@keyframes fade {
    0%{opacity: 0;}
    25%{opacity: 0;}
    80%{opacity: 0.6;}
    100%{opacity: 1;}
}

#pokemon_2_art{
    max-width: 100%;
    max-height: 100%;
    left: 30%;
    top: 0%;
    z-index: 1;
    position: absolute;
    /* animation: fade 2s; */
    animation-delay: 0.75s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#pokemon_ground{
    position: absolute;
    height: 100px;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#menu{
    /* background-color: rgb(192, 135, 135); */
    width: 100%;
    height: 34%;
    display: flex;
    flex-direction: row;
    border: 9px solid black;
    border-radius: 50px;
}

#game_text{
    width: 75%;
    background-color: white;
    height: 100%;
    font-size: 40px;
    font-size: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    border-radius: 38px 0px 0px 38px;
    border-right: 6px solid black;
}

#dice_area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#dice_images{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#dice_images img{
    width: 100px;
    height: 100px;
}

#dice_roll{
    display: flex;
    /* flex-direction: row; */
    width: 20%;
    /* background-color: #89CF82; */
    justify-content: center;
    align-items: center;
    border-left: 6px solid black;
    justify-self: flex-end;
}

#dice_roll img{
    width: 100px;
    height: 100px;
}

#game_description_container{
    width: 100%;
    border-top: 6px solid black;
    height: 50%;
}

#game_description {
    padding: 20px 30px 20px 30px;
}

#game_options{
    width: 25%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    align-content: space-around;
    border-radius: 0px 40px 40px 0px;
}

#game_options button {
    margin-top: 55px;
    margin-bottom: 5px;
    background:none;
    border: none;
    font-size: 40px;
}

#lightning{
    position: absolute;
    top: 10%;
    left: 59%;
    width: 100px;
    animation-duration: 1s;

    /* animation: top_to_bottom_lightning 1s; */
}

#flame{
    position: absolute;
    top: 10%;
    left: 59%;
    width: 100px;
    animation-duration: 1s;
}

#health{
    position: absolute;
    top: 5%;
    right: 34%;
    width: 120px;
    z-index: 2;
    animation-duration: 2s;
}

.top_to_bottom {
    visibility: showing;
    animation-name: top_to_bottom;
    animation-timing-function: ease;
}

.bottom_to_top {
    visibility: showing;
    animation-name: bottom_to_top;
    animation-timing-function: ease;
}

.attack_hidden {
    visibility: hidden;
}

.appearing{
    visibility: showing;
    animation-name: appearing;
    animation-timing-function: ease;
}

@keyframes appearing {
    0%   { transform: scale(1,1)    translateY(0)    rotate(0deg); opacity: 0%;}
    10%  { transform: scale(1.1,.9) translateY(0)    rotate(10deg); }
    30%  { transform: scale(.9,1.1) translateY(-40px)rotate(0deg); }
    50%  { transform: scale(1,1)    translateY(0)    rotate(-10deg); }
    100% { transform: scale(1,1)    translateY(0)    rotate(0deg); }
}

@keyframes bottom_to_top {
    0%{
        transform: translateX(-400px) translateY(200px) rotate(180deg);        
    }
    100%{
        transform: translateX(0px) translateY(0px) rotate(180deg);
        visibility: hidden;
    }
}